/*Gral. layout*/
:root {
  --nav-height: 60px;
}
body{
  background-color: #eeeff3;
  padding: 0;
  margin: 0 auto;
  font-family: serif;
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 768px){
  body{
    flex-direction: row;
  }
}

/*Navigation*/
nav{
  background-color: white;
  box-shadow: #92939840 0 4px 24px 4px;
  height:  var(--nav-height);
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
}
nav ul{
  width: 100%;
  list-style: none;
  padding: 3px 0px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav ul:first-child{
  background-color: #f3f4f5;
}
nav ul:first-child li{
  display: none;
}
nav ul:last-child h1{
  display: none;
}
@media (min-width: 768px){
  nav{
    flex-direction: row;
    width: 60px;
    flex: 0 0 60px;
    height: 100vh;
    max-height: 100vh;
    box-shadow: #92939840 4px 0 24px 4px;
    transition: width ease 350ms, flex ease 350ms;
  }
  nav ul{
    flex: 0 0 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  nav ul:first-child{
    background-color: inherit;
    flex: 0 0 0%;
    transition: width ease-in-out 300ms;
  }
  nav ul:first-child li{
    display: block;
  }
  nav ul:last-child h1{
    display: block;
  }
  nav ul h1, nav ul li{
    white-space: nowrap;
    padding: 2px 10px;
    margin: 5px 0;
  }
  nav ul a:nth-last-of-type(2){
    flex-grow: 1;
    margin-top: 12px;
  }
  nav ul a:last-of-type{
    text-align: center;
  }
  nav:hover{
    width: 190px;
    flex: 0 0 190px;
  }
  nav:hover ul:first-child{
    flex: 0 0 100%;
  }
  nav:hover+*{
    opacity: .2;
    transition: opacity ease 350ms;
  }
}

/*Main section*/
main{
  height: calc( 100vh - var(--nav-height));
  padding: 0px;
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  /*For paralax images*/
	perspective: 1px;
}
img.hero,
main>header,
main>section{
  opacity: 1;
  scroll-snap-align: start;
  margin: 0;
  width: 90vw;
  flex: 0 0 90vw;
}
h2{
  margin: 0 0 .7em;
}
@media (min-width: 768px){
  main{
    height: 100vh;
    max-height: 100vh;
  }
  img.hero,
  main>header,
  main>section{
    width: 45vw;
    flex: 0 0 45vw;
  }
}

/*Hero image*/
img{
  width: initial;
  max-width: 100%;
}
img.hero{
  padding: 0;
  background-color: #151516;
  box-shadow: #9293988e 4px 0 24px 4px;
  object-fit: cover;
}

/*Main Header */
main>header{
  padding: 20px 9vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 1fr 1fr 0.5fr;
  grid-template-areas: "." "article" "." "footer" ".";
}
main>header>article{
  grid-area: article; 
}
main>header>footer{
  grid-area: footer; 
}
header footer ul li{
  display: inline;
  padding: 12px;
}
header footer ul li span{
  display: none;
}

/*Main sections*/
main>section{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr 2fr 1fr;
  grid-template-areas: "." "image1" "." "image2" ".";
}
main>section:last-child{
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "." "image" ".";
}
figure{
  padding: 15px;
  max-width: 410px;
}
.img1{
  grid-area: image1;
}
.img2{
  grid-area: image2;
}
.img3{
  grid-area: image;
}
@media (min-width: 768px){
  .img1{
    transform: translateZ(.1px) scale(0.895);
  }
  .img2{
    transform: translateZ(-.1px) scale(1.095);
  }
  .img3{
    transform: translateZ(.1px) scale(0.895);
  }
}

/*Scroll helper buttons*/
#scroll-indicator,
#scroll-back{
  display: none;
  position: fixed;
  top: 50%;
  margin-top: -.5em;
  right: 10px;
  font-size: 32px;
  color: #bac0ca99;
}

#scroll-back{
  left: 70px;
  right: inherit;
}
@media (min-width: 768px){
  #scroll-indicator.show,
  #scroll-back.show{
    display: block;
  }
}